body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(230, 230, 230);
    height: 100vh;
}

header {
    height: 75px;
    background-color: rgb(145, 145, 145);
    text-align: center;
    padding: 18px;
    user-select: none;
}

main {
    text-align: center;
    width: 75%;
    margin: auto;
}

select {
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    outline: 3px solid white;
    border: none;
}

.countries {
    margin: auto;
}

.flag img {
    margin: auto;
    border-radius: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.info p {
    background-color: white;
    width: calc(33.33% - 20px);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#area::before {
    content: "Área: ";
    font-weight: bold;
}

#capital::before {
    content: "Capital: ";
    font-weight: bold;
}

#continent::before {
    content: "Continente: ";
    font-weight: bold;
}

#currency_name::before {
    content: "Nome da moeda: ";
    font-weight: bold;
}

#currency_symbol::before {
    content: "Símbolo da moeda: ";
    font-weight: bold;
}

#lang::before {
    content: "Línguas: ";
    font-weight: bold;
}

#usual_name::before {
    content: "Nome usual: ";
    font-weight: bold;
}

#oficial_name::before {
    content: "Nome oficial: ";
    font-weight: bold;
}

#population::before {
    content: "População: ";
    font-weight: bold;
}

@media (max-width: 700px) {
    .countries {
        display: block;
    }

    .info p {
        width: 200px;
    }
}

@media (max-width: 450px) {
    select {
        width: 250px;
    }

    img {
        width: 250px;
        margin: auto;
    }
}